#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  background-color: #262626;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}
.card:hover {
  background-color: #404040;
}

.read-the-docs {
  color: #888;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #282828;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.player-album-cover {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.player-song-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.player-song-info strong {
  font-size: 16px;
}

.player-song-info span {
  font-size: 14px;
  color: #b3b3b3;
}

.progress-slider {
  width: 200px; 
}

.app-header {
  
  background: #181818;
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  border-bottom: 1px solid #333;
}

.app-header h1 {
  color: #fff;
  margin: 0;
  font-size: 2rem;
  letter-spacing: 2px;
}

.cover {
  width: 100%;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  display: block; /* Asegura que el Link se comporte bien */
}
.title {
  color: white;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.artist {
  font-size: 0.875rem;
  color: #a3a3a3;
  margin: 0.25rem 0 0 0;
}

/* Contenedor para la información y el botón de favoritos */
.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Botón de Play sobre la imagen */
.playButton {
  position: absolute;
  bottom: 1.5rem;
  right: 0.5rem;
  background-color: #22c55e;
  color: black;
  border: none;
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.25rem;
  opacity: 0; /* Oculto por defecto */
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.3s;
}

.card:hover .playButton {
  opacity: 1; /* Aparece al hacer hover en la tarjeta */
  transform: translateY(0);
}

/* Botón de favoritos al lado del texto */
.favoriteButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0;
  margin-left: 0.5rem;
}